/*Styles.css*/

html{
}
body{
	background-image: url('../images/swirl_gray.jpg');
}
h1, h5{
	text-align: center;
}
nav{	
	margin-left: auto;
	margin-right: auto;
}
ol{
	list-style: none;
}
/* Welcome */
#greTitle{
	text-align: center;
	margin-top: 80px;
}#greBody{
	text-align: center;
	margin-top: 120px;
}
/* About Me */
#bio{
	margin-left: auto;
	margin-right: auto;
	width: 450px;
}
/* Favorites */
#title1{
	color: rgb(255, 191, 0);
}
#title2{
	color: red;
}
#trakt{
	width: 120px;
}
#favpanel{
	background-color: rgba(0, 0, 0, 0.10);
	border: none;
	margin-left: 75px;
	margin-right: 75px;
}
/* Flash Cards */
.quest{
	position: relative;
	top: -180px;
}
.ans{
	position: relative;
	top: -3px;
}
.btn{
	padding: 10px
}
.carousel {
	height: 500px;
	margin-bottom: 60px;
}
.carousel .item {
	height: 500px;
	background-color: #777;
}
.carousel-inner > .item > img {
	height: 500px;
}
/* Register */
#guestLogo{
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	width: 195px;
}
/* Login */
.panel-group{
	margin-left: auto;
	margin-right: auto;
	width: 220px;
}
